<div class="container-fluid">
    <app-pagetitle title="Claims" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-md-2">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="tickets-table_length"><label
                                    class="d-inline-flex align-items-center">Show
                                    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                                        [(ngModel)]="service.pageSize"
                                        class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                        <option [ngValue]="10">10</option>
                                        <option [ngValue]="25">25</option>
                                        <option [ngValue]="50">50</option>
                                        <option [ngValue]="100">100</option>
                                    </select> entries</label></div>
                        </div>
                        <!-- Search -->
                        <div class="col-sm-12 col-md-6">
                            <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                                    class="d-inline-flex align-items-center">Search:
                                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                                        aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
                        </div>
                        <!-- End search -->
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="basic-datatable"
                            class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                            <thead>
                                <tr>
                                    <th sortable="name" (sort)="onSort($event)">Policy</th>
                                    <th sortable="position" (sort)="onSort($event)">Claim Number</th>
                                    <th sortable="office" (sort)="onSort($event)">Pick Place</th>
                                    <th sortable="age" (sort)="onSort($event)">ID/Passport</th>
                                    <th sortable="age" (sort)="onSort($event)">Address</th>
                                    <th sortable="date" (sort)="onSort($event)">Contact</th>
                                    <th sortable="salary" (sort)="onSort($event)">Plan</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let table of tableData;let i=index">
                                <tr>
                                    <!-- <td align="center">
                                        <a class="expand-row" (click)="changeValue(i)">
                                            +
                                        </a>
                                        {"fullnames":null,"dateOfDeath":"03/02/2022",
                                        "entryDate":null,"address":"127 Cape
                                        Rd","policy":"452","claimNo":"CLMESPS8","id":null,
                                        "placeOfPickUp":"Hhfhffj","placeOfDeath":"Hhfhffj",
                                        "contact":null,"plan":null,"payment":null,"bank":null}
                                    </td> -->
                                    <td>{{table.policy}}</td>
                                    <td>{{table.claimNo}}</td>
                                    <td>{{table.pickUpPlace}}</td>
                                    <td>{{table.id}}</td>
                                    <td>{{table.address}}</td>
                                    <td>{{table.dateOfDeath}}</td>
                                    <td>{{table.plan || "Year"}}</td>
                                    <td>
                                        <div ngbDropdown placement="bottom-left">
                                            <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle
                                                data-toggle="dropdown" aria-expanded="true"></i>
                                            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                <a class="dropdown-item" href="javascript: void(0);"><i
                                                        class="mdi mdi-plus"></i>View</a>
                                                <a class="dropdown-item" href="javascript: void(0);"><i
                                                        class="mdi mdi-account-edit"></i>Submit</a>
                                                <a class="dropdown-item" href="javascript: void(0);">
                                                    <i class="mdi mdi-account-edit"></i>Edit</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End table -->
                    <div class="row justify-content-md-between align-items-md-center mt-2">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Showing
                                {{service.startIndex}} to
                                {{service.endIndex}} of {{service.totalRecords}}
                                entries
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col-sm-12 col-md-5">
                            <div class="text-md-right float-md-right pagination-rounded">
                                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page"
                                    [pageSize]="service.pageSize">
                                </ngb-pagination>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
