<div class="card">
    <div class="modal-header">
        <h4 class="card-title mb-4"> Arrangement Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form [formGroup]="viewForm">
            <div class="row mt-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">Full Names</label>
                                <input type="text" class="form-control" formControlName="fullnames"
                                    id="validationCustom01" placeholder="Full Names">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">Pick Up Place</label>
                                <input type="text" class="form-control" formControlName="pickupplace" readonly
                                    id="validationCustom01" placeholder="Pick Up Place">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">Date Of Death</label>
                                <input type="text" class="form-control" formControlName="dod" readonly
                                    id="validationCustom01" placeholder="Date Of Death">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">Policy</label>
                                <input type="text" class="form-control" formControlName="policy" readonly
                                    id="validationCustom01" placeholder="Policy">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">Time Of Service</label>
                                <input type="text" class="form-control" formControlName="timeofservice" readonly
                                    id="validationCustom01" placeholder="Time Of Service">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">Type Of Service</label>
                                <input type="text" class="form-control" formControlName="typeofservice" readonly
                                    id="validationCustom01" placeholder="Type Of Service">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">Address</label>
                                <input type="text" class="form-control" formControlName="address" readonly
                                    id="validationCustom01" placeholder="Address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">Grave No</label>
                                <input type="text" class="form-control" readonly formControlName="graveNo"
                                    id="validationCustom01" placeholder="Grave No">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-inline wizard mb-0">
                <!-- <li class="list-inline-item float-right"><button class="btn btn-primary">Save</button>
                </li> -->
                <li class="list-inline-item float-right mr-2"><button class="btn btn-primary" (click)="makeClaim()">Make
                        Claim</button>
                </li>
                <li class="list-inline-item float-right mr-2"><button class="btn btn-primary"
                        (click)="modal.close()">Cancel</button>
                </li>

            </ul>
        </form>

    </div>
</div>
