<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        2022 © copyright.
      </div>
      <div class="col-sm-6">
        <div class="text-sm-right d-none d-sm-block">
          Crafted with <i class="mdi mdi-heart text-danger"></i> by Developmenthub
        </div>
      </div>
    </div>
  </div>
</footer>
