<div class="card">
    <div class="modal-header">
        <h4 class="card-title mb-4"> DIS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form [formGroup]="arrangementForm">
            <aw-wizard [navBarLayout]="'large-empty-symbols'">
                <aw-wizard-step stepTitle="Deceased Details">
                    <ng-template awWizardStepSymbol>1</ng-template>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Surname</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="surname" name="txtFirstNameBilling"
                                        type="text" id="txtFirstNameBilling">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">FullNames</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="fullName" name="txtLastNameBilling"
                                        type="text" id="txtLastNameBilling">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Date Of Death</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="dateOfDeath" name="txtCompanyBilling"
                                        type="text" id="txtCompanyBilling">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Place Of Death</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="placeOfDeath" name="txtCompanyBilling"
                                        type="text" id="txtCompanyBilling">
                                </div>
                            </div>
                            <h3 class="card-title mb-4"> Pick Up Information</h3>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Date Of Pick Up</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="dateOfPickUp" name="txtCompanyBilling"
                                        type="text" id="txtCompanyBilling">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Place Of Pick Up</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="placeOfPickUp" name="txtCompanyBilling"
                                        type="text" id="txtCompanyBilling">
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item"><button class="btn btn-primary"
                                (click)="modal.close()">Cancel</button>
                        </li>
                        <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                awNextStep>Next</button>
                        </li>
                    </ul>
                </aw-wizard-step>

                <aw-wizard-step stepTitle="Burial Details">
                    <ng-template awWizardStepSymbol>2</ng-template>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">SCHEME/CASH SERVICE</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" formControlName="scheme"
                                                    id="scheme" value="scheme">
                                                <label class="form-check-label" for="scheme">Scheme</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" formControlName="scheme"
                                                    id="Upgrade" value="Upgrade">
                                                <label class="form-check-label" for="Upgrade">Upgrade</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" formControlName="scheme"
                                                    id="cash" value="Cash">
                                                <label class="form-check-label" for="cash">Cash</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Policy Number</label>
                                <div class="col-md-9">
                                    <input id="txtCreditCardNumber" formControlName="policy" class="form-control"
                                        name="txtCreditCardNumber" type="text">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Surnames</label>
                                <div class="col-md-9">
                                    <input formControlName="bsurname" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Full Names</label>
                                <div class="col-md-9">
                                    <input iformControlName="bfullName" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Residential Address</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="address" type="text-area">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Contact Number</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="bContactNumber" type="number">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Alternative Number</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="bAlternativeNumber" type="number">
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item"><button class="btn btn-primary"
                                awPreviousStep>Previous</button>
                        </li>
                        <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                awNextStep>Next</button>
                        </li>
                    </ul>
                </aw-wizard-step>

                <aw-wizard-step stepTitle="BURIAL ARRANGEMENT DETAILS">
                    <ng-template awWizardStepSymbol>3</ng-template>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Postmoterm</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    formControlName="postmoterm" id="post" value="yes">
                                                <label class="form-check-label" for="post">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    formControlName="postmoterm" id="post1" value="no">
                                                <label class="form-check-label" for="post1">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">TYPE OF SERVICE</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" formControlName="typeOfService"
                                                    type="radio" id="inlineRadio" value="burial">
                                                <label class="form-check-label" for="inlineRadio">Burial</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" formControlName="typeOfService"
                                                    type="radio" id="inlineRadio1" value="cremation">
                                                <label class="form-check-label" for="inlineRadio1">Cremation</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">PLACE OF DELIVERY</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="placeOfDelivery" type="text">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">PLACE OF SERVICE:</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="placeOfService" type="text">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">DIRECTION TO LOCATION:</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="directionToLocation" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="ddlCreditCardType">PACKAGE SELECTED:</label>
                                <div class="col-md-9">
                                    <select id="ddlCreditCardType" formControlName="packageSelected"
                                        name="ddlCreditCardType" class="form-control">
                                        <option value="">--Please Select--</option>
                                        <option value="Option1">Option 1</option>
                                        <option value="Option2">Option 2</option>
                                        <option value="Option3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="ddlCreditCardType">COFFIN SELECTED:</label>
                                <div class="col-md-9">
                                    <select id="ddlCreditCardType" formControlName="coffinSelected"
                                        name="ddlCreditCardType" class="form-control">
                                        <option value="">--Please Select--</option>
                                        <option value="Option1">Option 1</option>
                                        <option value="Option2">Option 2</option>
                                        <option value="Option3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="ddlCreditCardType">ADDITIONAL ITEMS
                                    SELECTED:</label>
                                <div class="col-md-9">
                                    <select id="ddlCreditCardType" formControlName="additionalItems"
                                        name="ddlCreditCardType" class="form-control">
                                        <option value="">--Please Select--</option>
                                        <option value="Option1">Option 1</option>
                                        <option value="Option2">Option 2</option>
                                        <option value="Option3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="ddlCreditCardType">COFFIN SPRAY
                                    (COLOUR):</label>
                                <div class="col-md-9">
                                    <select id="ddlCreditCardType" formControlName="coffinSpray"
                                        name="ddlCreditCardType" class="form-control">
                                        <option value="">--Please Select--</option>
                                        <option value="Option1">Option 1</option>
                                        <option value="Option2">Option 2</option>
                                        <option value="Option3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">Grave Marker</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    formControlName="graveMarker" id="maker" value="yes">
                                                <label class="form-check-label" for="maker">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    formControlName="graveMarker" id="maker1" value="yes">
                                                <label class="form-check-label" for="maker1">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">TOMBSTONE: (Indicate TM#)
                                </label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" formControlName="tombStone"
                                                    id="tomb" value="yes">
                                                <label class="form-check-label" for="tomb">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" formControlName="tombStone"
                                                    id="tomb1" value="no">
                                                <label class="form-check-label" for="tomb1">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="tombStone" class="form-group row">
                                    <label class="col-md-3 col-form-label" for="ddlCreditCardType">TOMB STONES
                                        (COLOUR):</label>
                                    <div class="col-md-9">
                                        <select id="ddlCreditCardType" formControlName="selectTombStone"
                                            name="ddlCreditCardType" class="form-control">
                                            <option value="">--Please Select--</option>
                                            <option value="Option1">Option #1</option>
                                            <option value="Option2">Option #2</option>
                                            <option value="Option3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">DATE OF SERVICE AVAILABLE</label>
                                <div class="col-md-9">
                                    <input id="txtCreditCardNumber" formControlName="dateOfServiceAvailable"
                                        class="form-control" name="txtCreditCardNumber" type="datetime-local">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">TIME OF DEPARTURE FROM MORTUARY:</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="timeOfDepartFromMortuary"
                                        type="datetime-local">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">TIME OF SERVICE</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="timeOfService" type="datetime-local">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">GRAVE NUMBER</label>
                                <div class="col-md-9">
                                    <input class="form-control" formControlName="graveNumber" type="number">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">IS THERE A VIEWING</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    formControlName="isThereViewing" id="viewing" value="yes">
                                                <label class="form-check-label" for="viewing">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    formControlName="isThereViewing" id="viewing1" value="no">
                                                <label class="form-check-label" for="viewing1">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isThereViewing" class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">VIEWING VENUE</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div *ngIf="isThereViewing" class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">DATE OF VIEWING</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="date">
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item"><button class="btn btn-primary"
                                awPreviousStep>Previous</button>
                        </li>
                        <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                awNextStep>Next</button>
                        </li>
                    </ul>
                </aw-wizard-step>

                <aw-wizard-step stepTitle="PAYMENTS">
                    <ng-template awWizardStepSymbol>4</ng-template>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">SCHEME APPLICATION APPROVED</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col text-right">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineRadio1"
                                                    value="option1">
                                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="scheme-approce"
                                                    value="option2">
                                                <label class="form-check-label" for="scheme-approce">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="container mt-5"> -->
                            <div class="d-flex justify-content-center row">
                                <div class="col-md-12">
                                    <div class="p-3 bg-white rounded">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- <h1 class="text-uppercase">Invoice</h1> -->
                                                <!-- <div class="billed"><span
                                                        class="font-weight-bold text-uppercase">Billed:</span><span
                                                        class="ml-1">Jasper Kendrick</span></div>
                                                <div class="billed"><span
                                                        class="font-weight-bold text-uppercase">Date:</span><span
                                                        class="ml-1">May 13, 2020</span></div>
                                                <div class="billed"><span class="font-weight-bold text-uppercase">Order
                                                        ID:</span><span class="ml-1">#1345345</span></div> -->
                                            </div>
                                            <!-- <div class="col-md-6 text-right mt-3">
                                                <h4 class="text-danger mb-0">Two Mountains</h4>
                                            </div> -->
                                        </div>
                                        <div class="mt-3">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Package</th>
                                                            <th>Unit</th>
                                                            <th>Price</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>PRICE FOR PACKAGE SELECTED</td>
                                                            <td>10</td>
                                                            <td>34</td>
                                                            <td>340</td>
                                                        </tr>
                                                        <tr>
                                                            <td>TOTAL ADDITIONAL EXTRAS</td>
                                                            <td>10</td>
                                                            <td>34</td>
                                                            <td>340</td>
                                                        </tr>
                                                        <tr>
                                                            <td>TOTAL FOR BURIAL SERVICE</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>340</td>
                                                        </tr>
                                                        <tr>
                                                            <td>AMOUNT OF UPGRADE</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>340</td>
                                                        </tr>
                                                        <tr>
                                                            <td>AMOUNT OF UPGRADE</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>600</td>
                                                        </tr>
                                                        <tr>
                                                            <td>TOTAL PAYABLE BY CLIENT</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>600</td>
                                                        </tr>
                                                        <tr>
                                                            <td>INVOICE NO</td>
                                                            <td>#3212</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>AMOUNT OUTSTANDING</td>
                                                            <td>1940</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>DATE PAID</td>
                                                            <td>12/25/2035</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Total</td>
                                                            <td>940</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label">PAYMENT STATUS</label>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                (change)="onPaymentStatus($event)" id="inlineRadio1"
                                                                value="yes">
                                                            <label class="form-check-label" for="inlineRadio1">PAID IN
                                                                FULL</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                (change)="onPaymentStatus($event)" id="payment"
                                                                value="no">
                                                            <label class="form-check-label"
                                                                for="payment">OUTSTANDING</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3" *ngIf="paidInFull">
                                            <p class="card-title-desc col-md-7">Please attach or upload the proof of
                                                payment.</p>
                                            <div class="custom-file col-md-5">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item"><button class="btn btn-primary"
                                awPreviousStep>Previous</button>
                        </li>
                        <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                awNextStep>Next</button>
                        </li>
                    </ul>
                </aw-wizard-step>

                <aw-wizard-step stepTitle="CLOTHING">
                    <ng-template awWizardStepSymbol>5</ng-template>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">DRESS CODE (INDICATE ITEMS)</label>
                                <div class="col-md-9">
                                    <input id="txtCreditCardNumber" readonly class="form-control"
                                        name="txtCreditCardNumber" type="text">
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">RECEIVED BY: (NAME OF CONSULTANT</label>
                                <div class="col-md-9">
                                    <input readonly class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">CLOTHES/ITEMS ON PICK-UP:</label>
                                <div class="col-md-9">
                                    <input readonly class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">DECEASED CLOTHES HANDED TO:</label>
                                <div class="col-md-9">
                                    <input readonly class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label">SIGNATURE OF CLOTHES RECEPIENT:</label>
                                <div class="col-md-9">
                                    <input readonly class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck11">
                            <label class="custom-control-label" for="customCheck11">I agree with the Terms and
                                Conditions.</label>
                        </div>
                    </div>

                    <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item"><button class="btn btn-primary"
                                awPreviousStep>Previous</button>
                        </li>
                        <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                awNextStep>Next</button>
                        </li>
                    </ul>
                </aw-wizard-step>

                <aw-wizard-step stepTitle="Confirm Detail">
                    <ng-template awWizardStepSymbol>4</ng-template>
                    <p class="p-3 justify-content-stretch">
                        English
                        We are aware that the program must be submitted latest two days before burial is conducted.
                        Payments for the service must be made latest, a day before burial date. All burial arrangements
                        must
                        be complete a day
                        before burial is conducted.
                        <br>
                        Sepedi
                        Re tsebišitswe gore rekgopelwa go tliša lenaneo la poloko (program) ge re thoma ka ditokišešto
                        go
                        fihla ka matsatsi a
                        mabedi pele ga letsatsi la poloko. Di tefelo tša poloko di tla dirwa pele gatšatši la go tšea
                        mohu.
                        Ditokišetso di
                        feleštwa leštatši pele ga go tšea mohu.
                        <br>
                        Xitsonga
                        Hitivisiwile leswaku hikomberiwa ku tisa nongonoko-woveka (program) Ku sukela hi siku ro sungula
                        ro
                        lungesela kufikela
                        masiku ma mbiri ka xilahlo. Ku hakelela ntirho kufanele ku endliwa siku ro teka mufi ringasi
                        fika.
                        Ku lungisela ntirho
                        kufanele ku hetisiwa siku kungasi tekiwa mufi (Wavumune)
                        <br>
                        <br>
                        Informant/Family member signature:
                        <br>
                        Date:
                        <br>
                        Two Mountains consultant responsible:
                        <br>
                        Name & Surname: Signature: Date:
                    </p>
                    <div class="p-3 text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="terms"
                                id="customCheck21">
                            <label class="custom-control-label" for="customCheck21">I agree with the Terms and
                                Conditions.</label>
                        </div>
                    </div>
                    <ul class="list-inline wizard mb-0">
                        <li class="previous list-inline-item"><button class="btn btn-primary"
                                awPreviousStep>Previous</button>
                        </li>
                        <li class="next list-inline-item float-right" (click)="save()"><button
                                class="btn btn-primary">Save</button>
                        </li>
                    </ul>
                </aw-wizard-step>
            </aw-wizard>
        </form>
    </div>
</div>
