<div class="container-fluid">
    <app-pagetitle title="Claim" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="makeClaimForm">
                        <aw-wizard [navBarLayout]="'large-empty-symbols'">
                            <aw-wizard-step stepTitle="Claim Details">
                                <ng-template awWizardStepSymbol>1</ng-template>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-form-label">Policy</label>
                                                    <input class="form-control" formControlName="policy"
                                                        name="txtFirstNameBilling" type="text" id="txtFirstNameBilling">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class=" col-form-label">Claim Number</label>
                                                    <input class="form-control" formControlName="claimNo"
                                                        name="txtLastNameBilling" type="text" id="txtLastNameBilling">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class=" col-form-label">Pick Place</label>
                                                    <input class="form-control" formControlName="placeOfPickUp"
                                                        name="txtLastNameBilling" type="text" id="txtLastNameBilling">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class=" col-form-label">ID/Passport Number</label>
                                                    <input class="form-control" formControlName="idPassport"
                                                        name="txtCompanyBilling" type="text" id="txtCompanyBilling">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class=" col-form-label">Contact Number</label>
                                                    <input class="form-control" formControlName="bContactNumber"
                                                        name="txtCompanyBilling" type="text" id="txtCompanyBilling">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class=" col-form-label">Package Selected</label>
                                                    <input class="form-control" formControlName="packageSelected"
                                                        name="txtCompanyBilling" type="text" id="txtCompanyBilling">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline wizard mb-0">
                                    <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                            awNextStep>Next</button>
                                    </li>
                                </ul>
                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="Deceased Details">
                                <ng-template awWizardStepSymbol>2</ng-template>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Full Names</label>
                                                    <input type="text" class="form-control" id="validationCustom01"
                                                        placeholder="Full Names">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">ID/Passport</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="ID/Passport">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Date Of Death</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="Date Of Death">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Entry Date</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="Entry Date">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Place Of Death</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="Place Of Death">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Cause of Death</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="Cause of Death">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Death Certificate</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="Death Certificate">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Bl1663 Serial</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="Bl1663 Serial">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item"><button class="btn btn-primary"
                                            awPreviousStep>Previous</button>
                                    </li>
                                    <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                            awNextStep>Next</button>
                                    </li>
                                </ul>
                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="Upload Documents">
                                <ng-template awWizardStepSymbol>3</ng-template>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload Funeral
                                                            Claim Form</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload Copy of
                                                            Bl16-63</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload Copy Of
                                                            Death</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">ID Copy of
                                                            Deceased</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">ID Copy of
                                                            Main Members</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload
                                                            Marriage Certificate (Should Claim be lodged for
                                                            spouse/child)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload
                                                            affidavit (Should Claim be lodged for spouse/child)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload Burial
                                                            Order</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload
                                                            Confirmation Letter</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload
                                                            Confirmation Bank Details by Bank</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload Letter
                                                            From Home Affairs</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload Police
                                                            Report</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload
                                                            Membership Form</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Upload
                                                            Amendment Form</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item"><button class="btn btn-primary"
                                            awPreviousStep>Previous</button>
                                    </li>
                                    <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                            awNextStep>Next</button>
                                    </li>
                                </ul>
                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="Claimant Details">
                                <ng-template awWizardStepSymbol>4</ng-template>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group row mb-3">
                                            <label class="col-md-6 col-form-label">Claim Payment: Choose Bank to be paid
                                                on</label>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                formControlName="payment" id="claimant" value="scheme">
                                                            <label class="form-check-label" for="claim">Claimant</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                formControlName="payment" id="two" value="Upgrade">
                                                            <label class="form-check-label" for="two">Two Mountains
                                                                Burial Service</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                formControlName="payment" id="another" value="Cash">
                                                            <label class="form-check-label" for="another">Another Person
                                                                Bank`s Account</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Claimant's Full Names</label>
                                                    <input type="text" class="form-control" id="validationCustom01"
                                                        placeholder="Claimant's Full Names">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Claimant's Contact
                                                        Details(Tel/Cell)</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01"
                                                        placeholder="Claimant's Contact Details(Tel/Cell)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Claimant's ID/Passport No.</label>
                                                    <input type="text" class="form-control" id="validationCustom01"
                                                        placeholder="Claimant's ID/Passport No.">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Claimant's Country Of
                                                        Residence</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01"
                                                        placeholder="Claimant's Country Of Residence">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Claimant's Physical Address</label>
                                                    <input type="text" class="form-control" id="validationCustom01"
                                                        placeholder="Claimant's Physical Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Claimant's Occupation</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="Claimant's Occupation">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item"><button class="btn btn-primary"
                                            awPreviousStep>Previous</button>
                                    </li>
                                    <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                            awNextStep>Next</button>
                                    </li>
                                </ul>
                            </aw-wizard-step>
                            <aw-wizard-step stepTitle="Bank Details">
                                <ng-template awWizardStepSymbol>5</ng-template>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Account Holders Full Names</label>
                                                    <input type="text" class="form-control" id="validationCustom01"
                                                        placeholder="Claimant's Full Names">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Account Holders Contact
                                                        Details(Tel/Cell)</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01"
                                                        placeholder="Claimant's Contact Details(Tel/Cell)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Account Holders Residence.</label>
                                                    <input type="text" class="form-control" id="validationCustom01"
                                                        placeholder="Claimant's ID/Passport No.">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Account Holders Address</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01"
                                                        placeholder="Claimant's Country Of Residence">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Account Holders Occupation</label>
                                                    <input type="text" class="form-control" id="validationCustom01"
                                                        placeholder="Claimant's Physical Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="validationCustom01">Account Holders Employer</label>
                                                    <input type="text" class="form-control" readonly
                                                        id="validationCustom01" placeholder="Claimant's Occupation">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3 text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">I agree with the
                                            Terms and
                                            Conditions.</label>
                                    </div>
                                </div>
                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item"><button class="btn btn-primary"
                                            awPreviousStep>Previous</button>
                                    </li>
                                    <li class="next list-inline-item float-right"><button class="btn btn-primary"
                                            (click)="save()">Save</button>
                                    </li>
                                </ul>
                            </aw-wizard-step>
                        </aw-wizard>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
